.exclusive-section {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.section-title {
  font-weight: bold;
}

.section-subtitle {
  color: #6c757d;
  margin-bottom: 0;
}

.view-all-link {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

.view-all-link:hover {
  text-decoration: underline;
}

.offer-card .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent 60%);
  z-index: 1;
}
